# dot.gitignore is part of org-mode for LaTeX papers
# In your local git repository create a link from .gitignore 
# to this file, or copy/append its contents into .gitignore 

# General:
build/
bin/
lib/
*.*~
#*#
argos-sferes-qt-prj.config
argos-sferes-qt-prj.creator
argos-sferes-qt-prj.files
argos-sferes-qt-prj.includes

# Specific for present project:
sferes2/